name: Dockerhub
on:
  push:
    branches: [main, master]
  pull_request:

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:
  markdownfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker pull tianon/markdownfmt
      - run: .ci/check-markdownfmt.sh
